<!DOCTYPE HTML>
<!-- https://factionizer.bovineghoti.repl.co -->
<html>
  <head>
    <title>Factionizer</title>
    <link rel="icon" type="image/x-icon" href="../static/Mecatol_Rex.png">
    <style>
      h1 {
        font-size: 30px;
        font-family: Helvetica;
        font-weight: normal;
        color: rgb(31, 31, 127);
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>A website to automate the start/setup of TI4 games</h1>
      <button type="button">Add Player</button>
      <button type="button">Clear Players</button>
      <button type="button">Start Game</button>
  </body>
</html>