<!DOCTYPE HTML>
<!-- https://factionizer.bovineghoti.repl.co/settings -->

<html>
  <head>
    <title>Factionizer</title>
    <link href="../static/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/Mecatol_Rex.png">
  </head>
  <body>
    <h1>What settings do you want?</h1>
    <div></div>
      <input type="checkbox" id="Base" name="Base" checked></input>
      <label for="Base">Base Game</label>
      <input type="checkbox" id="Prophecy of Kings" name="Prophecy of Kings" checked></input>
      <label for="Prophecy of Kings">Prophecy of Kings</label>
      <input type="checkbox" id="Codex III" name="Codex III"></input>
      <label for="Codex III">Codex III</label>
    </div>
    <div>
      <button type="button">Confirm Settings</button>
      <button type="button">Home</button>
    </div>
  </body>
</html>